[*.cs]

# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.
dotnet_diagnostic.CS8618.severity = suggestion

# IDE0044: Add readonly modifier
dotnet_diagnostic.IDE0044.severity = warning

# IDE0290: Use primary constructor
csharp_style_prefer_primary_constructors = false

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = warning
